<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>VitrineServlet</servlet-name>
        <servlet-class>br.edu.ufabc.ecommerce.controller.VitrineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetalheProdutoServlet</servlet-name>
        <servlet-class>br.edu.ufabc.ecommerce.controller.DetalheProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarCarrinhoServlet</servlet-name>
        <servlet-class>br.edu.ufabc.ecommerce.controller.AdicionarCarrinhoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverCarrinhoServlet</servlet-name>
        <servlet-class>br.edu.ufabc.ecommerce.controller.RemoverCarrinhoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MeuCarrinhoServlet</servlet-name>
        <servlet-class>br.edu.ufabc.ecommerce.controller.MeuCarrinhoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewUserServlet</servlet-name>
        <servlet-class>br.edu.ufabc.ecommerce.controller.NewUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserServlet</servlet-name>
        <servlet-class>br.edu.ufabc.ecommerce.controller.CreateUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VitrineServlet</servlet-name>
        <url-pattern>/vitrine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetalheProdutoServlet</servlet-name>
        <url-pattern>/detalheProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarCarrinhoServlet</servlet-name>
        <url-pattern>/adicionarCarrinho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverCarrinhoServlet</servlet-name>
        <url-pattern>/removerCarrinho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MeuCarrinhoServlet</servlet-name>
        <url-pattern>/meuCarrinho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewUserServlet</servlet-name>
        <url-pattern>/newUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserServlet</servlet-name>
        <url-pattern>/createUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
